* {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

:root {
    --primary-dark-gray: rgba(32,34,36,100%);
    --primary-light-bllue: rgba(72,128,255,100%);
    --primary-black: rgba(0, 0, 0, 0.877);
    --primary-green: rgba(0, 182, 155, 1);
    --primary-red: rgba(249, 60, 101, 1);

    --secondary-bg: rgba(254, 254, 254, 100%);
    --secondary-light-bg: rgba(221, 225, 245, 0.349);
    --secondary-light-gray: rgba(32, 34, 36, 0.281);
    --secondary-very-expensive-gray: rgba(32, 34, 36, 0.575);
    --secondary-white: white;
    --font-family-default: "Nunito Sans", serif;
    --font-size-default: 16rem;
}

body {
    background-color: var(--secondary-bg);
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
}

.grid {
    display: grid;
}

.grid-template {
    grid-template: 
    'sidenav-dash header-dash' 70px
    'sidenav-dash content-dash' 800px /*testar com 1fr*/
    / 240px 1fr;
}

.column-01 {
    grid-template-columns: repeat(4, 26.2rem);
    grid-template-rows: 16.1rem;
}

.column-02 {
    grid-template-areas:
    'title-dash icon-dash'
    'number-dash icon-dash'
    'status-dash status-dash';

}

.title-dash {
    grid-area: title-dash;
}

.icon-dash {
    grid-area: icon-dash;
}

.status-dash {
    grid-area: status-dash;
}

.number-dash {
    grid-area: number-dash;
}

.flex {
    display: flex;
}

.align-items {
    align-items: center;
}

.justify-content-end {
    justify-content: end;
}

.between {
    justify-content: space-between;
}

.header {    
    grid-area: header-dash;
    padding: 1.6rem 3rem;
}

.header-gap {
    gap: 2.5rem;
}

.bold {
    font-weight: 800;
}

.bold-6 {
    font-weight: 600;
}

.color-gray {
    color: var(--secondary-very-expensive-gray);
}

.header-font-size {
    font-size: 1.4rem;
}

.header-color {
    color: var(--secondary-very-expensive-gray);
}

.header-search {
    background-color: var(--secondary-light-bg);
    border: solid 1px var(--secondary-very-expensive-gray);
    border-radius: 1.8rem;
    height: 3.8rem;
    padding: 1rem 1.6rem;
    width: 38.8rem;
}

.header-search input {
    border: none;
    background-color: transparent;
    margin-left: 1rem;
    outline: none;
}

.header select {
    background-color: transparent;
    border: none;    
    width: 8.5rem;
}

.header-perfil {
    border-radius: 50%;
    height: 4.4rem;
    width: 4.4rem;
}

.sidenav {
    margin: 2.4rem;
    grid-area: sidenav-dash;
}

.gap-item {
    gap: 1.6rem;
}

.sidenav-item {
    margin: 1.6rem 5.6rem;
}

.dash {
    background-color: var(--secondary-light-bg);
    grid-area: content-dash;
    margin: 3rem 0 0 3rem;
}

.dash-font-size {
    font-size: 2.8rem;
}

.dash-font-size-1 {
    font-size: 1.6rem;
}

.dash-padding {
    padding: 1.6rem;
}

.dash ul li {
    background-color: var(--secondary-white);
}

.dash-box-shadow {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.dash-border-radius {
    border-radius: 1.4rem;
}

.dash-span-color-1 {
    color: var(--primary-green)
}

.dash-span-color-2 {
    color: var(--primary-red);
}

.dash-gap-1 {
    gap: 3rem;
}

.dash-gap-2 {
    gap: .5rem;
}

.dash-row-gap {
    row-gap: 3rem;
}